@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
